{% extends 'base.html' %}
{% load static %}

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <!-- Button for smallest screens -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img src="{% static 'images/logo.png' %}" alt="Techro HTML5 template"></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav pull-right mainNav">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'product' %}">Product</a></li>
                    <li><a href="{% url 'fees' %}">Fees</a></li>
                    <li><a href="{% url 'protfilio' %}">Portfolio</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'sidebar' %}">Right Sidebar</a></li>
                            <li><a href="#">Dummy Link1</a></li>
                            <li><a href="#">Dummy Link2</a></li>
                            <li><a href="#">Dummy Link3</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
    <!-- /.navbar -->
{% block content %} 
<!-- 
    <header id="head" class="secondary">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <h1>About us</h1>
                </div>
            </div>
        </div>
    </header> -->

    <!-- container -->
    <section class="container">
        <div class="row">
            <!-- main content -->
            <section class="col-sm-8 maincontent">
                <h3 class="custom-text-colors">Santhal Religion</h3>
                <p class="custom-text-color">
                    <img src="{% static 'images/group2.jpg' %}" alt="" class="img-rounded pull-right" width="450">
                    Santhal religion is deeply rooted in animism. The Santhal believe in the presence of spirits in natural elements such as trees, mountains,rivers, and animals. These spirits are considered powerful and are integral to their cosmology.
                </p>
                <p class="custom-text-color">The Santhals have a strong tradition of ancestor worship. They believe in maintaining a connection with their ancestors and seek their blessings for the well-being and prosperity of the community. Santhals worship a pantheon of deities known as Bongas. Each Bonga is associated with specific aspects of nature and is
                    revered to ensure the harmony between humans and the environment. Santhals celebrate various rituals and festivals that are closely linked to their agrarian lifestyle. Festivals like Sohrai and Baha are significant and involve elaborate rituals, dances, and music. These celebrations often mark important agricultural milestones such as sowing and harvesting.</p>
                <h3 class="custom-text-colors">Santhal Culture</h3>
                <strong class="custom-text-colors">Language:</strong>
                <p class="custom-text-color">The Santhali language is central to Santhal culture. It is a Santhali language and is spoken by the Santhal community. The language has its own script, Ol Chiki, which is used for writing in Santhali.</p>
                <strong class="custom-text-colors"> Dance and Music: </strong>
                <p class="custom-text-color">Santhali dance and music are vibrant and play a crucial role in their cultural expression. Traditional dances like the "Chadar Badar" and "Langre" are performed during festivals and celebrations. The music involves
                    the use of traditional instruments like the "Banam" (a string instrument) and "Tamak" (a percussion instrument).</p>
                <strong class="custom-text-colors"> Art and Craft: </strong>
                <p class="custom-text-color">Santhals are skilled in various forms of art and craft. They are known for creating intricate traditional jewelry, particularly for women. Santhal art often reflects their close connection with nature and their animistic beliefs.</p>
                <strong class="custom-text-colors">Traditional Clothing:</strong>
                <p class="custom-text-color"> The traditional attire of Santhal men includes dhoti,kurta, and a headgear, while women wear sarees with a distinct pattern. The clothing often features vibrant colors and intricate embroidery.</p>
            
                <strong class="custom-text-colors"> Social Structure: </strong>
                <p class="custom-text-color"> Santhal society has a well-defined social structure. Theyhave a council of elders known as the "Manjhi" or "Majhi," who play a significant role in decision-making and dispute resolution. The community is organized into clans, and social cohesion is maintained through communal activities and rituals.</p>
            
                <strong class="custom-text-colors"> Housing: </strong>
                <p class="custom-text-color"> Traditional Santhal houses are made of materials like mud, wood, and thatch. The houses are designed to suit the agrarian lifestyle and are often surrounded by fields.</p>
            </section>
            <!-- /main -->

            <!-- Sidebar -->
            <aside class="col-sm-4 sidebar sidebar-right">

                <div class="panel">
                    <h4 class="custom-text-colors">Discover the Rich Tapestry of Santhals Culture</h4>
                    <ul class="list-unstyled list-spaces">
                        <li class="custom-text-color">Introduction:<br>
                            <span class="small text-muted">Welcome our gateway to the captivating world of the Santhals tribe. Established with the aim of preserving and celebrating the rich heritage of the Santhals, we embark on a journey to share their stories, traditions, and vibrant culture</span></li>
                        <li class="custom-text-color">Mission::<br>
                            <span class="small text-muted">Our mission is to shed light on the unique aspects of the Santhals tribe, providing a platform to showcase their traditions, folklore, and contemporary contributions. We strive to foster a deeper understanding and appreciation for the Santhals culture</span></li>
                        <li class="custom-text-color">Exploration and Insight:<br>
                            <span class="small text-muted">Join us as we delve into the heart of Santhals life, exploring their art, music, dance, rituals, and everyday experiences. Our blog is a space where you can gain insights into the beauty and diversity of the Santhals community</span></li>
                        <li class="custom-text-color">Community Connection:<br>                            
                            <span class="small text-muted">We believe in the power of storytelling to build bridges between communities. Through our blog, we aim to create a sense of connection, understanding, and respect for the Santhals people and their heritage</span></li>
                        <li class="custom-text-color">Contributors:<br>
                            <span class="small text-muted">Our team consists of individuals passionate about cultural preservation and community storytelling. Meet the faces behind [Your Blog Name] and discover the shared enthusiasm for promoting cultural diversity.</span></li>
                        <li class="custom-text-color">Call-to-Action:<br>
                            <span class="small text-muted">Embark on this enriching journey with us as we unravel the tapestry of Santhals culture. Whether you're a member of the Santhals community, a cultural enthusiast, or someone eager to learn, we invite you to explore, engage, and celebrate the spirit of the Santhals tribe with our website</span></li>
                    </ul>
                </div>

            </aside>
            <!-- /Sidebar -->

        </div>
    </section>
    <!-- /container -->
    <section class="team-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="custom-text-colorc">Meet Our Developers</h3>
                    <p></p>
                    <br />
                </div>
            </div>
            <div class="row">
                {% for team in teams %}
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <!-- Team Member -->
                    <div class="team-member">
                        <!-- Image Hover Block -->
                        <div class="member-img">
                            <!-- Image  -->
                            <!-- <img src="{{team.photo.url}}" alt="team-1" class="img-fluid"> -->
                            <img class="img-responsive" src="{{ team.photo.url }}" alt="team-1" class="img-fluid" style="max-height: 256px; min-height: 256px;">
                        </div>
                        <!-- Member Details -->
                        <h4>{{team.first_name}} {{ team.last_name }}</h4>
                        <!-- Designation -->
                        <span class="pos">{{ team.Designation }}</span>
                        <div class="team-socials">
                            <a href="{{ team.facebook_link }}" class="facebook-bg"><i class="fa fa-facebook"></i></a>
                            <a href="{{ team.twitter_link }}" class="twitter-bg"><i class="fa fa-twitter"></i></a>
                            <a href="{{ team.linkedin_link }}" class="linkedin-bg"><i class="fa fa-linkedin"></i></a>
                            <a href="{{ team.github_link }}"  class="github-bg"><i class="fa fa-github"></i></a>
                            <a href="{{ team.instagram_link }}" class="instagram-bg"><i class="fa fa-instagram"></i></a>
                    
                        </div>
                    </div>
                </div>
                {% endfor %}
               
            </div>
        </div>
    </section>
{% endblock content %}

{% include 'includes/footer.html' %}
