{% extends 'base.html' %}
{% load static %}

{% include 'includes/navbar.html' %}
{% block content %}
<!-- All Blogs -->

<div class="small-container">
    <div class="row row-2">
        <h2 class="custom-text-colors">All Blogs</h2>
    </div>

    <div class="row">
        {% for blog in blogs %}
        <div class="col-4" style="display: inline-block; margin: 0 10px;">
            <a href="{% url 'Blog_details' blog.id %}">
                <img src="{{ blog.photo.url }}" alt="team-1" class="img-fluid" style="max-height: 256px; min-height: 256px;">
            </a>
            <h4 class="custom-text-color">{{ blog.blog_name }}</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="page-btn">
        <span>1</span>
        <span>2</span>
        <span>3</span>
        <span>4</span>
        <span>&#8594;</span>
    </div>
</div>

<script>
    var MenuItems = document.getElementById("MenuItems");
    MenuItems.style.maxHeight = "0px";
    function menutoggle() {
        if (MenuItems.style.maxHeight == "0px") {
            MenuItems.style.maxHeight = "200px"
        }
        else {
            MenuItems.style.maxHeight = "0px"
        }
    }
</script>

{% endblock content %}
{% include 'includes/footer.html' %}
