{% load static %}
    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <!-- Button for smallest screens -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img src="{% static 'images/logo.png' %}" alt="Techro HTML5 template"></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav pull-right mainNav">
                    <li class="nabar-nav ml-auto">
                        {% if '/' == request.path %}
                        <a class="nav-link dropdown-toggle active " href="{% url 'home' %}">Home</a>
                        {% else %}
                        <a class="nav-link dropdown-toggle " href="{% url 'home' %}">Home</a>
                        {% endif %}
                    </li>
                    <li>
                        {% if '/' == request.path %}
                        <a href="{% url 'about' %}">About</a>
                        {% else %}
                        <a href="{% url 'about' %}">About</a>
                        {% endif %}
                    </li>
                    <li>
                        {% if '/' == request.path %}
                        <a href="{% url 'product' %}">Product</a>
                        {% else %}
                        <a href="{% url 'product' %}">Product</a>
                        {% endif %}
                    </li>
                    <li>
                        {% if '/' == request.path %}
                        <a href="{% url 'fees' %}">Fees</a>
                        {% else %}
                        <a href="{% url 'fees' %}">Fees</a>
                        {% endif %}
                    </li>
                    <li>
                        {% if '/' == request.path %}
                        <a href="{% url 'protfilio' %}">Portfolio</a>
                        {% else %}
                        <a href="{% url 'protfilio' %}">Portfolio</a>
                        {% endif %}
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'sidebar' %}">Right Sidebar</a></li>
                            <li><a href="#">Dummy Link1</a></li>
                            <li><a href="#">Dummy Link2</a></li>
                            <li><a href="#">Dummy Link3</a></li>
                        </ul>
                    </li>
                    <li>
                        {% if '/' == request.path %}
                        <a href="{% url 'contact' %}">Contact</a>
                        {% else %}
                        <a href="{% url 'contact' %}">Contact</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
    <!-- /.navbar -->
