{% load static %}
<!-- Fixed navbar -->
	<div class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
				<a class="navbar-brand" href="{% url 'home' %}">
					<img src="{% static 'images/logo.png' %}" alt="Techro HTML5 template"></a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right mainNav">
					<li class="nav-bar-links"><a href="{% url 'home' %}">Home</a></li>
					<li class="nav-bar-links"><a href="{% url 'about' %}">About</a></li>
					<li class="nav-bar-links"><a href="{% url 'courses' %}">Courses</a></li>
					<li class="nav-bar-links"><a href="{% url 'fees' %}">Fees</a></li>
					<li class="nav-bar-links"><a href="{% url 'protfilio' %}">Portfolio</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Festivals <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="{% url 'sidebar' %}">Right Sidebar</a></li>
							<li><a href="{% url 'sidebar' %}">BAHA</a></li>
							<li><a href="{% url 'sidebar' %}">SOHRAI</a></li>
							<li><a href="{% url 'sidebar' %}">SAKRAT</a></li>
							<li><a href="{% url 'sidebar' %}">GOMHA</a></li>
							<li><a href="{% url 'sidebar' %}">RAJA SAKRAT</a></li>
						</ul>
					</li>
					<li class="nav-bar-links"><a href="{% url 'contact' %}">Contact</a></li>

				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</div>
	<!-- /.navbar -->
