{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<body>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Learn is a modern and fully responsive Template by WebThemez.">
	<meta name="author" content="webThemez.com">
	<title>Santhal </title>
	<link rel="favicon" href="{% static 'images/favicon.png' %}">
	<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="{% static 'css/bootstrap-theme.css' %}" media="screen">
	<link rel="stylesheet" type="text/css" href="{% static 'css/da-slider.css' %}" />
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="{% static 'js/html5shiv.js' %}"></script>
	<script src="{% static 'js/respond.min.js' %}"></script>
	<![endif]-->
</head> 
<!-- {% include 'includes/topbar.html' %} -->

{% include 'includes/navbar.html' %}
{% block content %}


{% endblock content %}
{% include 'includes/footer.html' %}

	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="{% static 'js/modernizr-latest.js' %}"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="{% static 'js/jquery.cslider.js' %}"></script>
	<script src="{% static 'js/custom.js' %}"></script>
</body>
</html>